## Лабораторная работа по курсу «Python для анализа данных»

### При выполнении работы допускается использование любых внешних модулей и пакетов.

#### Задача 1

Дана строка:

In [89]:
string_01 = "History is always written by the winners. When two cultures clash, the loser is obliterated, and the winner writes the history books - books which glorify their own cause and disparage the conquered foe. As Napoleon once said, 'What is history, but a fable agreed upon?'"

1. Посчитайте, сколько в строке символов, исключая пробелы:

In [4]:
words = 0
for line in string_01 :
    letters += len(line)
    pos = 'out'
    for letter in line:
        if letter != ' ' and pos == 'out':
            words += 1
            pos = 'in'
        elif letter == ' ':
            pos = 'out'
print("Количество символов :", words)

Количество символов : 225

In [94]:
len (string_01.replace(" ", ""))

225

2. Посчитайте, сколько в строке слов.

In [90]:
lines = 0
words = 0
letters = 0
 
for line in string_01 :
    lines += 1
    letters += len(line)
 
    pos = 'out'
    for letter in line:
        if letter != ' ' and pos == 'out':
            pos = 'in'
        elif letter == ' ':
            words += 1
            pos = 'out'
print("Количество слов:", words)

Количество слов: 45

3. Напишите функцию, которая будет принимать в качестве аргумента букву и выводить все слова из строки, начинающиеся на эту букву (например, “w”).

In [135]:
letter = input("Введиите букву: ")
[word for word in string_01.split()if word.startswith(letter)]

Введиите букву: a

['always', 'and', 'and', 'a', 'agreed']

#### Задача 2

Напишите код, который будет генерировать случайную последовательность из 6 цифр, одна из которых должна быть 3. Позиция цифры 3 должна
определяться случайным образом. Результат должен быть строкой. Например: "456309" или "330127".

In [32]:
import random

In [58]:
rand_pos = random.randint(100000,1000000)
rand_pos_num3 = random.randint(0,5)
y = str(rand_pos)
print('Было',y)
print ("Место для замены:",rand_pos_num3+1 )
y = y[:rand_pos_num3] + "3" + y[rand_pos_num3+1:]
print('Стало',y)

Было 134027
Место для замены: 6
Стало 134023

#### Задача 3

Дан список:

In [60]:
list_01 = [1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 14, 46, 273, 22, 99, 15, 1000]

Напишите алгоритм, который выводит число, равное сумме элементов списка, которые больше 10, но меньше 100, и которые больше 200, но меньше 500.

In [61]:
sum([y for y in list_01 if 10 < y < 100 or 200 < y < 500])

1291

#### Задача 4

Данные студентов представлены в виде списка списков:

In [111]:
students = [
["0001", "Антонов", "Антон", "Игоревич", "20.08.2009","БСТ161"],
["1102", "Богов", "Артем", "Игоревич", "25.01.2010","БСТ162"],
["0333", "Глаголева", "Анастасия", "Николаевна", "11.07.2009", "БСТ163"],
["4004", "Степанова", "Наталья", "Александровна", "13.02.2008", "БСТ161"],
["0045", "Боков", "Игорь", "Харитонович", "02.06.2009", "БСТ161"],
["0096", "Васильков", "Валентин", "Сергеевич", "20.03.2009", "БСТ164"],
["0607", "Сиропова", "Виолетта", "Эдуардовна", "28.05.2010", "БСТ162"]
    ]

1. Преобразуйте данные таким образом, чтобы они были представлены в виде словаря, в котором ключами являются номера студентов, а значениями — список из других данных о студентах.

In [116]:
dictionary = {}
for i in students: 
    dictionary [i[0]] = i [1:]
dictionary

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'БСТ161'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

2. Напишите функцию, которая принимает в качестве аргумента номер студента и новый номер группы и позволяет изменить номер группы этого студента на новый внутри созданного словаря.

In [120]:
def replacement (key, newGroup):
    x=dictionary.get(key)
    x[-1] = newGroup
stud = str (input("Введите номер студента: "))
group = input("Введите группу: ")
replacement(stud,group)
dictionary

Введите номер студента: 0001
Введите группу: BPO1801

{'0001': ['Антонов', 'Антон', 'Игоревич', '20.08.2009', 'BPO1801'],
 '1102': ['Богов', 'Артем', 'Игоревич', '25.01.2010', 'БСТ162'],
 '0333': ['Глаголева', 'Анастасия', 'Николаевна', '11.07.2009', 'БСТ163'],
 '4004': ['Степанова', 'Наталья', 'Александровна', '13.02.2008', 'БСТ161'],
 '0045': ['Боков', 'Игорь', 'Харитонович', '02.06.2009', 'БСТ161'],
 '0096': ['Васильков', 'Валентин', 'Сергеевич', '20.03.2009', 'БСТ164'],
 '0607': ['Сиропова', 'Виолетта', 'Эдуардовна', '28.05.2010', 'БСТ162']}

3. Напишите функцию, которая принимает номер группы и выводит список (фамилии, имена, отчества) всех студентов этой группы. Необходимо обращаться к словарю.

In [125]:
def list_group (numGroup):
    for x in dictionary.values():
        if x[-1] == numGroup:
            print (x[0] +" "+ x[1] + " " + x[2] )
numGroup = input('Введите группу: ')
list_group(numGroup)

Введите группу: BPO1801
Антонов Антон Игоревич

#### Задача 5

Дана матрица:

In [101]:
matrix = [ 
    [0,1,2,4,8], 
    [6,2,2,1,9], 
    [3,3,3,3,3], 
    [4,6,7,1,2], 
    [5,7,3,4,0] 
]

1. Выведите результат сложения всех элементов матрицы.

In [107]:
s=0
for i in range(len(matrix)):
    s+=sum(matrix[i])
    
print(s)

89

2. Напишите алгоритм вычисления максимума из сумм элементов каждого столбца.

In [100]:
res = [sum(i) for i in zip(*matrix)]
print (res)
max(res)

[18, 19, 17, 13, 22]

22